
@font-face {
    font-family: "BrandonTextWeb-Medium";
    font-display: swap;
    src: url("https://static.cure.fit/assets/fonts/32CF0E_9_0_1.eot");
    src: url("https://static.cure.fit/assets/fonts/32CF0E_9_0_1.eot?#iefix") format("embedded-opentype"), url("https://static.cure.fit/assets/fonts/32CF0E_9_0_1.woff2") format("woff2"), url("https://static.cure.fit/assets/fonts/32CF0E_9_0_1.woff") format("woff"), url("https://static.cure.fit/assets/fonts/32CF0E_9_0_1.ttf") format("truetype");
}

@font-face {
    font-family: "BrandonTextWeb-Regular";
    font-display: swap;
    src: url("https://static.cure.fit/assets/fonts/32CF0E_8_0_1.eot");
    src: url("https://static.cure.fit/assets/fonts/32CF0E_8_0_1.eot?#iefix") format("embedded-opentype"), url("https://static.cure.fit/assets/fonts/32CF0E_8_0_1.woff2") format("woff2"), url("https://static.cure.fit/assets/fonts/32CF0E_8_0_1.woff") format("woff"), url("https://static.cure.fit/assets/fonts/32CF0E_8_0_1.ttf") format("truetype");
}

@font-face {
    font-family: "BrandonTextWeb-Bold";
    font-display: swap;
    src: url("https://static.cure.fit/assets/fonts/32CF0E_2_0_1.eot");
    src: url("https://static.cure.fit/assets/fonts/32CF0E_2_0_1.eot?#iefix") format("embedded-opentype"), url("https://static.cure.fit/assets/fonts/32CF0E_2_0_1.woff2") format("woff2"), url("https://static.cure.fit/assets/fonts/32CF0E_2_0_1.woff") format("woff"), url("https://static.cure.fit/assets/fonts/32CF0E_2_0_1.ttf") format("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "BrandonTextWeb-Regular";
    
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    color: black;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.navbar {
    position: sticky;
    top: 0px;
    z-index: 1000;
    width: 100%;
    height: 64px;
    background: #fff;
    margin-right: auto;
    margin-left: auto;
    padding: 12px 24px 12px 24px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 15%);
    display: inline-grid;
}


.align-center {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.icon-container {
    flex: 5;
}

.icon-image-container {
    width: 38px;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    overflow: hidden;
    position: relative;
}

.logo-image {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
}

.navlink-container {
    flex: 6;
}

.navlink-list {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    
}

.navlink {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.navlink:hover{
    opacity: 0.5;
}

.navlink-icon {
    height: 25px;
    max-width: none;
    vertical-align: middle;
    border: 0;
}
/* 
.header-text {
   
} */

.header-title {
    padding-left: 3px;
    margin: 0;
    font-family: "BrandonTextWeb-Medium";
    color: #000;
    font-size: 12px;
}

.user-detail-container {
    flex: 5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: right;
    
}

.user-detail-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;

}

.user-detail-item:first-child {
    margin-right: 0;
}

.user-detail-item-image {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
}

.cart-icon {
    margin-right: 0;
    width: 100%;
    height: 100%;
}

.location-icon-container {
    display: inherit;
    background-color: #0fd1ff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    margin-right: 5px;
}

.main-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
}

.section {
    padding-left: 10rem;
    padding-right: 10rem;
    margin: 45px 0 45px 0;
    width: 100%;
    width: -moz-available;          
    width: -webkit-fill-available;  
    width: fill-available;
}

.section-content-holder:first-child{
    display: flex;
    overflow: hidden;
}

.content {
    width: 33%;
    display: flex;
    flex-direction: column;
}

.content-heading {
    font-size: 50px;
    margin-top: 20px;
    font-family: BrandonTextWeb-Bold;
    font-weight: bold;
    
}

.heading-flipper {
    text-indent: 8px;
    display: inline;
}

.heading-flipper span {
    -webkit-animation: flip-animation 7.5s linear infinite 0s;
    animation: flip-animation 7.5s linear infinite 0s;
    color: #00abe9;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

@keyframes flip-animation {
    0% {
        opacity: 0;
    } 
    7.5% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
    }
    15% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    40% {
        opacity: 1;
    -webkit-transform: translateY(0px);
    }
    49% {
        opacity: 0;
        -webkit-transform: translateY(40px);
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.heading-flipper span:nth-child(2) {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}

.heading-flipper span:nth-child(3) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    -ms-animation-delay: 5s;
    -webkit-animation-delay: 5s;
}

.content-sub-text {
    font-size: 18px;
    font-weight: 600;
    color: #6e6d6d;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 95%;
    line-height: 40px;
}

.video-container {
    width: 66%;
    margin: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    height: fit-content;
    height: -moz-fit-content;
    background-color: #A1B0C5;
    border-radius: 10px;
    overflow: hidden;
    float: left;
    z-index: 0;
    position: relative;
}

.mute-button-container {
    z-index: 1;
    bottom: 0;
    right: 0;
    margin: 10px;
    position: absolute;
}

.explore-link {
    width: 100%;
    height: 100%;
}

.full-length-image-banner {
    width: -webkit-fill-available;
    border-radius: 5px;
    cursor: pointer;
}

.accordian-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
}

.section-heading {
    width: 80.5px;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    overflow: hidden;
    position: relative;
}

.section-heading-image {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    margin-bottom: 10px;
}

.section-subheading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
}

.section-subheading-text {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 10px 0;
    color: #4c4c4c;
    font-family: BrandonTextWeb-Bold;
}

.explore-button {
    display: inline-flex;
    align-items: center;
}

.explore-button:hover {
    opacity: 0.5;
}

.explore-button span {
    font-size: 18px;
    margin: 0 0 10px 0;
    color: #4c4c4c;
    font-family: BrandonTextWeb-Bold;
}

.explore-arrow-image {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 22px;
    width: 10px;
    margin-left: 10px;
    margin-bottom: 4px;
}

.section-description {
    font-size: 14px;
    width: 50%;
    margin: 5px 0 15px 0;
    color: #6c6c6c;
    line-height: 27px;
}

.image-accordian-parent {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    width: fill-available;
    border-radius: 10px;
    height: 470px;
    overflow: hidden;
}

.image-holder {
    position: relative;
    cursor: pointer;
    width: 100%;
    
}

.active {
    opacity: 1;
    width: 200%;
}

.image-holder:hover {
    width: 200%;
    transition: all 0.8s;
}

.image-holder:hover .accordian-image-content-subheading, .image-holder:hover .action-button {
    opacity: 1;
    transition: all 1s;
}

.accordian-image-content {
    z-index: 1;
    left: 0;
    padding: 40px;
    position: absolute;
    width: inherit;
}

.accordian-image {
    width: 100%;
    height: 470px;
    object-fit: cover;
}

.light-color .accordian-image-content-heading {
    font-family: BrandonTextWeb-Bold;
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
    width: 70%;
}

.light-color .accordian-image-content-subheading {
    opacity: 0;
    font-size: 14px;
    width: 290px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #dfdfdf;
    font-family: BrandonTextWeb-Regular;
}

.light-color .action-button {
    border: 1px solid #ffff !important;
    cursor: pointer;
    opacity: 0;
    float: left;
    padding: 5px 10px 5px 10px;
    color: #ffff;
    border: 1px solid white;
    border-radius: 30px;
}

.light-color .action-button:hover {
    box-shadow: 0 14px 40px 0 rgba(0,0,0,0.1);
    -webkit-transition: -webkit-transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}


.dark-color .accordian-image-content-heading {
    font-family: BrandonTextWeb-Bold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    color: black;
    width: 70%;
}

.dark-color .accordian-image-content-subheading {
    opacity: 0;
    font-size: 14px;
    width: 290px;
    line-height: 30px;
    margin-bottom: 20px;
    color: black;
    font-family: BrandonTextWeb-Regular;
}

.dark-color .action-button {
    border: 1px solid black !important;
    cursor: pointer;
    opacity: 0;
    float: left;
    padding: 5px 10px 5px 10px;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
}

.dark-color .action-button:hover {
    box-shadow: 0 14px 40px 0 rgba(0,0,0,0.1);
    -webkit-transition: -webkit-transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}

.store-section-parent {
    background-image: linear-gradient(to right,#6f69aa,#378ac5);
    margin-bottom: 0;
    padding-bottom: 45px;
}
.store-section {
    padding: 45px 0 0 0;
}

.section-text-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 10%;
        width: 70%;
}

.section-text-title {
    color: #fff;
    font-family: BrandonTextWeb-Bold;
    font-size: 36px;
    padding-bottom: 20px;
}

.section-text-subtitle {
    color: #fff;
    font-family: BrandonTextWeb-Medium;
    font-size: 19px;
    padding-bottom: 30px;
}

.section-text-icon-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 58%;
    padding: 0px;
    margin-top: 0px;
    padding-left: 0px;
}

.section-text-icon-image-container {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
}

.section-text-icon-image {
    width: 80%;
}

.section-image-container {
    padding: 4% 0 0 0;
}

.section-image { 
    width: 300px;
    height: 350px;
}

.business-section-parent {
    margin: 0;
    padding: 0;
}

.career-section-parent {
    margin: 0;
    padding: 0;
}

.motto-section-parent {
    margin: 0 45px 0 45px;
}

.motto-section {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 40px 0;
}

.motto-text-primary {
    font-size: 100px;
    color: #6e6e6e;
    font-family: BrandonTextWeb-Bold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    line-height: 1.2;
    -webkit-letter-spacing: -0.6px;
    -moz-letter-spacing: -0.6px;
    -ms-letter-spacing: -0.6px;
    letter-spacing: -0.6px;
    vertical-align: bottom;
}

.motto-text-secondary {
    font-size: 80px;
    color: #b2b2b2;
    font-family: BrandonTextWeb-Bold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    line-height: 1.2;
    -webkit-letter-spacing: -0.6px;
    -moz-letter-spacing: -0.6px;
    -ms-letter-spacing: -0.6px;
    letter-spacing: -0.6px;
    vertical-align: bottom;
}

.footer {
    position: relative;
    width: 100% !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #000;
    padding: 50px 10rem 0 10rem;
}

.top-footer-container {
    padding: 0 0 40px 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.top-footer-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: fill-available;
}

.image-description-container {
    width: 300px;
    padding-right: 20px;
}

.image-description-container .description {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    text-align: justify;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
    color: #a2a2a2;
    width: fit-content;
}

.top-footer-links-1 {
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.94;
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    margin-bottom: 30px;
    padding-right: 30px;
}

.top-footer-links-1 li {
    text-align: end;
}

.top-footer-links-1 a {
    color: inherit;
}

.top-footer-links-2 {
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.94;
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    margin-bottom: 30px;
    padding-right: 30px;
}

.top-footer-links-2 li {
    text-align: end;
}

.top-footer-links-2 a {
    color: inherit;
}

.mobile-app-store-container {
    text-align: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    padding-left: 30px;
}

.store-image {
    margin-bottom: 20px;
    
}

.middle-footer-container {
    color: #a2a2a2;
    background-color: #111213;
    padding: 30px;
    position: relative;
    min-height: 1px;

}

.middle-footer-title {
    padding: 0;
    color: #a2a2a2;
    
}

.middle-footer-title::after {
    content: "";
    display: block;
    border-bottom: 1px solid #444242;
    margin-bottom: 10px;
}

.mid-data {
    column-count: 6;
    -webkit-column-count: 6;
    -moz-column-count: 6;
}

.middle-footer-link-container {
    padding: 5px !important;
}

.mid-data a{
    color: white;
}

.mid-data a:hover {
    text-decoration: underline;
}

.bottom-footer-container {
    padding: 20px;
    display: flex;
    align-items: flex-end;
}

.bottom-footer-text-container {
    width: 66%;
}

.bottom-footer-links {
    display: flex;
    align-items: center;
}

.bottom-footer-link-element {
    margin-right: 30px;
}

.bottom-footer-link-element a {
    font-size: 12px;
    color: #a4a4a4 !important;
}

.bottom-footer-socials-container {
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bottom-footer-social-icon-container {
    -webkit-flex-basis: 10%;
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    width: 100%;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    overflow: hidden;
    opacity: 0.7;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}